<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/solicitar.css" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">Tempo Certo</div>

      <div class="nav-items">
        <div class="nav-item">
          <h1>1</h1>
          <p>Nota Fiscais</p>
        </div>
        <div class="nav-item">
          <h1>2</h1>
          <p>Pedidos</p>
        </div>
        <div class="nav-item">
          <h1>3</h1>
          <p>Documentos</p>
        </div>
        <div class="nav-item">
          <h1>4</h1>
          <p>Agendamento</p>
        </div>
      </div>

      <div class="closed"><i class="ri-close-line"></i></div>
    </nav>
  </body>
</html>
