<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard de Agendamento</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/agendamento/dashboard.css" />
  </head>
  <body>
    <div class="loading-overlay" id="loadingOverlay">
      <div class="loading-container">
        <p>Carregando...</p>
      </div>
    </div>
    <div class="wrapper">
      <div class="sidebar">
        <div class="logo">
          <h2>Agendamento</h2>
        </div>
        <div class="main-sidebar">
          <ul>
            <li class="active" data-page="dashboard">
              <i class="ri-dashboard-line"></i>
              <p>Dashboard</p>
            </li>
            <li data-page="waiting">
              <i class="ri-hourglass-fill"></i>
              <p>Aguardando</p>
            </li>
            <li class="has-submenu" data-page="completed">
              <i class="ri-calendar-check-line"></i>
              <p>Agenda Completa</p>
            </li>
            <li id="notification" data-page="notifications">
              <i class="ri-notification-line"></i>
              <p>Notificação</p>
            </li>
            <li id="generate" data-page="generate">
              <i class="ri-file-add-line"></i>
              <p>Gerar Solicitação</p>
            </li>

            <li id="config">
              <i class="ri-settings-2-line"></i>
              <p>Gerenciar Conta</p>
              <i class="ri-arrow-down-s-line arrow-option"></i>
            </li>
            <ul id="subMenu">
              <li>
                <i class="ri-logout-box-line"></i>
                <p>Encerrar Sessão</p>
              </li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="content">
        <div class="card-content">
          <h1>Relatório Mensal</h1>
          <section class="cards">
            <article class="card">
              <h2 class="card-title confirm-title">
                Agendamentos <br />
                Aguardando Confirmação
              </h2>
              <h3 class="card-count" id="countPending">23</h3>
              <p class="card-description">
                Agendamentos em espera aguardando a confirmação oficial por
                parte dos responsáveis.
              </p>
            </article>

            <article class="card">
              <h2 class="card-title completed-title">
                Agendamentos <br />
                Finalizados com Sucesso
              </h2>
              <h3 class="card-count" id="countCompleted">15</h3>
              <p class="card-description">
                Todos os agendamentos foram completados com êxito e sucesso.
              </p>
            </article>

            <article class="card">
              <h2 class="card-title waiting-title">
                Aguardando <br />
                Finalização da Entrega
              </h2>
              <h3 class="card-count" id="countWaiting">10</h3>
              <p class="card-description">
                Agendamentos que estão aguardando a conclusão da entrega.
              </p>
            </article>
          </section>
        </div>

        <section class="listNextAgend">
          <h1>Próximos Agendamentos</h1>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Fornecedor</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Volume</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#324</td>
                <td>Fornecedor ABC</td>
                <td>15/12/2024</td>
                <td>11:00 PM</td>
                <td>1200L</td>
              </tr>
              <tr>
                <td>#325</td>
                <td>Fornecedor XYZ</td>
                <td>16/12/2024</td>
                <td>11:00 PM</td>
                <td>1500L</td>
              </tr>
              <tr>
                <td>#326</td>
                <td>Fornecedor DEF</td>
                <td>17/12/2024</td>
                <td>11:00 PM</td>
                <td>800L</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>

    <div class="modal" id="alertGenerateModal">
      <div class="modal-content">
        <h1>Confirmar geração de link e senha de autenticação</h1>
        <p>
          Você tem certeza de que deseja continuar? Isso gerará um link e uma
          senha de autenticação para uma nova solicitação de agendamento.
        </p>
        <div class="modal-actions">
          <button id="btnCancelar" class="cancel-btn">Cancelar</button>
          <button id="btnConfirmar" class="confirm-btn">Estou de acordo</button>
        </div>
      </div>
    </div>

    <div class="modal" id="authLinkModal">
      <div class="modal-content">
        <h1>Link e Senha de Autenticação</h1>
        <p>
          Essas são as informações geradas para a sua solicitação de
          agendamento:
        </p>
        <div class="auth-details">
          <div class="detail">
            <label for="authLink">Link:</label>
            <input
              type="text"
              id="authLink"
              value="http://127.0.0.1:5500/src/view/fornecedor/agendamento.html"
              readonly
            />
          </div>
          <div class="detail">
            <label for="authPassword">Senha de Autenticação:</label>
            <input type="text" id="authPassword" value="123456" readonly />
            <button id="copyPasswordBtn" class="copy-btn">Copiar Senha</button>
          </div>
        </div>
        <div class="modal-actions">
          <button id="btnCloseAuthModal" class="cancel-btn">Fechar</button>
        </div>
      </div>
    </div>

    <div class="modal hidden" id="exitSessionModal">
      <div class="exitSession">
        <h1>Você tem certeza de que deseja encerrar sua sessão?</h1>
        <div class="main-exit">
          <div class="buttons">
            <button class="cancel-btn">Cancelar</button>
            <button class="logout-btn">Encerrar Sessão</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/public/js/agendamento/dashboard.js"></script>
  </body>
</html>
