<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard de Agendamento</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/agendamento/notifications.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar">
        <div class="navbar-logo">
          <h1>Agendamento</h1>
        </div>
        <div class="navbar-menu">
          <ul class="navbar-items">
            <li
              class="navbar-item active"
              data-page="dashboard"
              aria-label="Dashboard"
            >
              <button class="tooltip">
                <i class="ri-dashboard-line" aria-hidden="true"></i>
                <span class="tooltip-text">Dashboard</span>
              </button>
            </li>
            <li class="navbar-item" data-page="waiting" aria-label="Em Espera">
              <button class="tooltip">
                <i class="ri-hourglass-fill" aria-hidden="true"></i>
                <span class="tooltip-text">Em Espera</span>
              </button>
            </li>
            <li
              class="navbar-item has-submenu"
              data-page="completed"
              aria-label="Completados"
            >
              <button class="tooltip">
                <i class="ri-calendar-check-line" aria-hidden="true"></i>
                <span class="tooltip-text">Completados</span>
              </button>
            </li>
            <li
              class="navbar-item"
              id="notification"
              data-page="notifications"
              aria-label="Notificações"
            >
              <button class="tooltip">
                <i class="ri-notification-line" aria-hidden="true"></i>
                <span class="tooltip-text">Notificações</span>
              </button>
            </li>
            <li
              class="navbar-item"
              id="generate"
              data-page="generate"
              aria-label="Gerar"
            >
              <button class="tooltip">
                <i class="ri-file-add-line" aria-hidden="true"></i>
                <span class="tooltip-text">Gerar Solicitação</span>
              </button>
            </li>
            <li class="navbar-subitem">
              <button class="tooltip">
                <i class="ri-logout-box-line" aria-hidden="true"></i>
                <span class="tooltip-text">Sair</span>
              </button>
            </li>
          </ul>
        </div>
      </nav>

      <div class="content" id="contentArea">
        <div class="listNotifications">
          <h1>Notificações <i class="ri-notification-line"></i></h1>
          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Assunto</th>
                  <th>Descrição</th>
                  <th>Data</th>
                  <th>Marcar como lida</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Novo Agendamento</strong></td>
                  <td>
                    📌 Uma nova solicitação de agendamento foi registrada. Por
                    favor, verifique os detalhes e confirme a disponibilidade.
                    <br />
                    <br />
                    <strong style="color: rgb(0, 153, 255)"
                      >ID do Agendamento:</strong
                    >
                    <span id="idagendamento" style="color: rgb(0, 153, 255)"
                      >#4343432</span
                    >
                  </td>
                  <td>18/12/2024</td>
                  <td style="text-align: center">
                    <input type="checkbox" name="lido" id="inputLido1" />
                  </td>
                </tr>
                <tr>
                  <td>Agendamento Cancelado</td>
                  <td>
                    📢 O agendamento foi cancelado devido ao não cumprimento dos
                    prazos estabelecidos. O setor de agendamento será
                    responsável por entrar em contato com o fornecedor via
                    e-mail ou WhatsApp, enviando o link e o código de
                    autenticação para refazer a solicitação de entrega.
                    <br /><br />
                    <strong style="color: rgb(0, 153, 255)"
                      >ID do Agendamento:</strong
                    >
                    <span id="idagendamento" style="color: rgb(0, 153, 255)"
                      >#4343432</span
                    >
                  </td>
                  <td>18/12/2024</td>
                  <td style="text-align: center">
                    <input type="checkbox" name="lido" id="inputLido1" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="exitSessionModal">
      <div class="exitSession">
        <h1>Você tem certeza de que deseja encerrar sua sessão?</h1>
        <div class="main-exit">
          <div class="buttons">
            <button id="btnCancelar" class="cancel-btn">Cancelar</button>
            <button id="btnDeslogin" class="logout-btn">Encerrar Sessão</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/public/js/agendamento/notifications.js"></script>
  </body>
</html>
